appdirs==1.4.3
asgiref==3.2.7
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
click==7.1.2
distlib==0.3.0
djangorestframework==3.11.0
djangorestframework-jsonapi==3.1.0
filelock==3.0.12
Flask==1.1.2
gevent==20.5.0
greenlet==0.4.15
idna==2.9
inflection==0.4.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
MarkupSafe==1.1.1
numpy==1.18.4
panda==0.3.1
pandas==1.0.3
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.20
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
gunicorn==19.0.0
whitenoise==5.0.1
